{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenidos | {% endblock %}

<style>
{% block style %}
.jumbotron {
	background-color: #172548 !important;
	color: white !important;
}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
<div class="container">
<div class='row'>
	<div class='col-sm-6'>
  <h1>Probar Django 2.2.1</h1>
        <p>Un proyecto para principiantes. El objetivo es construir una página web simple a la par que elegante en muy poco tiempo.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Únete &raquo;</a>
        </p>
</div>
<div class='col-sm-6' style='background-color:black;height:300px;'></div>
</div>   
</div>
</div>
{% endblock %}


{{ titulo }}<br/>
{{ request.user }}
<hr/>
<br/>

{% block content %}
<div class="row">
	<div class="col-sm-3 col-xs-12 pull-right">
		<p class='lead text-align-center'>Bienvenidos</p>
<form method="POST" action="">{% csrf_token %}
{{ el_form|crispy }}
<input type='submit' value='Registrame' />
</form>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Creado con Django &amp; Bootstrap</p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Con mucho esfuerzo</p>
</div>
<div class='col-sm-3'>
	<p class='lead text-align-center'>Y por supuesto, código abierto.</p>
</div>
</div>


<hr/>
{% endblock %}